{{ define "edit" }}
    {{ template "header" }}
        {{ template "menu" }}
        <h2>Edit player {{ .Name }}</h2>
        <form method="POST" action="update">
            <input type="hidden" name="uid" value="{{ .Id }}" />
            <label for="name">Name </label>
            <input type="text" name="name" value="{{ .Name }}" />

            <label for="age">Age </label>
            <input type="number" name="age" value="{{ .Age }}" />

            <input type="submit" value="Save user" />
        </form>
    {{ template "footer" }}
{{ end }}