{{ define "header" }}
    <!Doctype html>
    <html lang="en-us">
        <head>
            <title>Golang Rest - The first test</title>
            <meta charset="UTF-8" />
        </head>
        <body>
            <h1>Golang Rest - The first test</h1>
{{ end }}