{{ define "index" }}
  {{ template "header" }}
    {{ template "menu"  }}
    <h2> Registered </h2>
    {{ if . }}
      <table border="1">
        <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Age</td>
          <td>View</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        </thead>
        <tbody>
      {{ range . }}
        <tr>
          <td>{{ .Id }}</td>
          <td> {{ .Name }} </td>
          <td>{{ .Age }} </td> 
          <td><a href="/show?id={{ .Id }}">View</a></td>
          <td><a href="/edit?id={{ .Id }}">Edit</a></td>
          <td><a href="/delete?id={{ .Id }}">Delete</a></td>
        </tr>
      {{ end }}
        </tbody>
      </table>
    {{ else }}
      <span>No player registred yet. <a href="/new">Be honored to be Player1!</a></span>
    {{end}}
  {{ template "footer" }}
{{ end }}