{{ define "new" }}
    {{ template "header" }}
        {{ template "menu" }}
        <h2>New Player</h2>
        <form method="POST" action="create">
            <label for="name">Name </label>
            <input type="text" name="name" />

            <label for="age">Age </label>
            <input type="number" name="age" />

            <input type="submit" value="Create user" />
        </form>
    {{ template "footer" }}
{{ end }}