{{ define "show" }}
    {{ template "header" }}
        {{ template "menu" }}
        <h2>Register {{ .Id }} </h2>
        <p>Name: {{ .Name }}</p>
        <p>Age: {{ .Age }}</p>
        <a href="/edit?id={{ .Id }}">Edit</a>
    {{ template "footer" }}
{{ end }}